body {
  font-size: 15pt;
    animation-name: dark;
  animation-duration: 2s;
  animation-iteration-count: infinite;
font-family: 'Inconsolata', monospace;
}

* {
  border-radius: 16px;
  color:white;
}

.calccont {
  font-size: 1.8rem;
  text-align: center;
  border: 2px solid black;
  animation-name: run;
  border-width: 8px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: #000000;
}
@keyframes dark{
  15%{
    background-color:#FFA0A0;
  }
    25%{
    background-color:#FFD049;
  }
  40%{
    background-color:#FEFF0D;
  }
  55%{
    background-color:#19FF0D;
  }
  65%{
    background-color:#0DFFF3;
  }
  75%{
    background-color:#4942FF;
  }
  95%{
    background-color:#FF2DB9;
  }

}

@keyframes run2{
    0% {
      background-color: red;
  
    }
  
    5% {
      background-color: orange;
  
  
    }
  
    10% {
      background-color: yellow;
    }
  
    15% {
      background-color: pink;
    }
  
    20% {
      background-color: green;
    }
  
    25% {
      background-color: blue;
    }
  
    30% {
      background-color: #3D44FD;
    }
  
    35% {
      background-color: #7518E6;
    }
  
    40% {
      background-color: #FF10CB;
    }
  
    50% {
      background-color: red;
    }
  
    60% {
      background-color: orange;
    }
  
    70% {
      background-color: yellow;
    }
  
    85% {
      background-color: pink;
    }
  
    90% {
      background-color: green;
    }
  
    95% {
      background-color: blue;
    }
  
    85% {
      background-color: #3D44FD;
    }
  
    75% {
      background-color: #7518E6;
    }
  
    100% {
      background-color: #FF10CB;
    }
}
@keyframes run {
  0% {
    border-color: red;
    
  }

  5% {
    border-color: orange;
   

  }

  10% {
    border-color: yellow;
  }

  15% {
    border-color: pink;
  }

  20% {
    border-color: green;
  }

  25% {
    border-color: blue;
  }

  30% {
    border-color: #3D44FD;
  }

  35% {
    border-color: #7518E6;
  }
40%{
  border-color:#FF10CB;
}
  50% {
    border-color: red;
  }

  60% {
    border-color: orange;
  }

  70% {
    border-color: yellow;
  }

  85% {
    border-color: pink;
  }

  90% {
    border-color: green;
  }

  95% {
    border-color: blue;
  }

  85% {
    border-color: #3D44FD;
  }

  75% {
    border-color: #7518E6;
  }
100%{
  border-color:#FF10CB;
}


}

table {
  margin: auto;#7518E6
  width: 40vw;
  height: 20vw;
  background-color: black;
}

button {
  border-width:3px;
  animation-name: run;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 0px;
  padding: 4px 8px;
  width: 60px;
  height: 50px;
  font-size: 1.5rem;
  background-color: black;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;

}

input {
  width: 298px;
    animation-name: run;
  animation-duration: 2s;
  animation-iteration-count: infinite;
padding:12px;
font-family: 'Inconsolata', monospace;
  height: 60px;
  font-size: 1.8rem;
  background-color: black;
  text-align: right;
  margin-bottom: 8px;
  border-width:4px;
}